# Application
!public/wp-content/
public/wp-content/*
!public/wp-content/plugins/
public/wp-content/plugins/*
!public/wp-content/plugins/stopstigma-core-plugin

!public/wp-content/themes/
public/wp-content/themes/*
!public/wp-content/themes/kandinsky-child
!public/wp-content/themes/kandinsky-stopstigma

!public/wp-content/mu-plugins/
public/wp-content/upgrade
public/wp-content/uploads/*

node_modules

.idea/
.env
*.log
*.sql
.DS_Store*
ehthumbs.db
._*
*~
.svn
.cvs
*.bak
*.swp
Thumbs.db
env.ini
public/vendor
public/wp-admin
public/wp-includes
public/xmlrpc.php
public/*.php
public/*.txt
public/*.html
public/.env

!public/wp-config.php
